<p id="notice"><%= notice %></p>

<p  style="text-align:center; color:#fff;">
  <b>Name:</b>
  <%= @admin.name  %>
</p>
 <p  style="text-align:center; color:#fff;">
  <b>salary:</b>
  <%= @admin.salary %>
</p>
<p  style="text-align:center; color:#fff;">
  <b>no of days:</b>
  <%= @admin.number_of_days %>
</p>
</table>
 
 <h3  style="text-align:center; color:#fff;"><%= link_to 'back', admins_path %></h3>
