


 <!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
                                           
  <div class="dropdown">
    <div class="btn dropdown-toggle " type="file" data-toggle="dropdown" > <%= link_to image_tag(current_model.avatar.url(:thumb), :class => 'round-image-50',:target => "_blank") %>
    <span class="caret"></span></div>
    <ul class="dropdown-menu">
    <li class="list-group-item" >Logged in as <strong><%= current_model.email %></strong>
       </li>
       <li class="list-group-item-success"  > <%= link_to image_tag(current_model.avatar.url(:thumb),:target => "_blank") %></li>
      <li  class="list-group-item list-group-item-danger"><%= link_to 'Settings', edit_model_registration_path, :class => 'navbar-link'     %> </li>|
       <li class="list-group-item list-group-item-danger"> <%= link_to "Logout ", destroy_model_session_path, method: :delete, :class => 'navbar-link'  %> 
     </li>
    </ul>
  </div>
</div>

</body>
</html>
